.container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: #4c4cff;
  margin-left: 8px;
  transition: color 0.2s ease-in;
}

.link:hover {
  color: #f2f2f3;
}
