.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 273px;
  gap: 4px;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease-in;
}

.link:hover {
  opacity: 0.6;
}

p {
  text-align: center;
  min-height: 48px;
}

.priceInfo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.listItem {
  list-style: none;
}
