.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: #8585ad;
}

svg {
  fill: #8585ad;
}

.item:hover,
.item:hover svg {
  color: #f2f2f3;
  fill: #f2f2f3;
}

.active,
.active svg {
  color: #f2f2f3;
  fill: #f2f2f3;
}
